@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

}


body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
    height: 100dvh;
    max-height: 100dvh;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
}

/* removes accessibility outline */
:focus {
    outline: none;
}

.hide-scrollbar {
    /*overflow: hidden;*/
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@media (min-width: 750px) and (max-width: 1600px) {

    .channel-button:first-child {
        background: linear-gradient(120deg, hsl(227 47.2% 21.0%), hsl(298 34.4% 15.3%));
    }

    .channel-button:nth-child(2) {
        background: linear-gradient(120deg, hsl(298 34.4% 15.3%), hsl(214 59.4% 15.3%));
    }

    .channel-button:nth-child(3) {
        background: linear-gradient(120deg, hsl(214 59.4% 15.3%), hsl(55 3.7% 19.9%));
    }

    .channel-button:nth-child(4) {
        background: linear-gradient(120deg, hsl(55 3.7% 19.9%), hsl(319 41.0% 16.0%));
    }

    .channel-button:nth-child(5) {
        background: linear-gradient(120deg, hsl(319 41.0% 16.0%), hsl(41 16.4% 15.6%))
    }

    .channel-button:nth-child(6) {
        background: linear-gradient(120deg, hsl(41 16.4% 15.6%), hsl(335 47.2% 19.3%))
    }
}
